@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bungasai';
  src: url('/fonts/Bungasai.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans text-gray-900;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Bungasai', serif;
    font-weight: normal;
    line-height: 1.2;
  }

  section {
    scroll-margin-top: 80px;
  }
}

